<!DOCTYPE html>
<html>
<head>
  <meta  charset="utf-8">  
    <title>Сайт недоступен</title>
    <style>
    body, html{
      background-color: #fbfbfb;
      height: 90%;
    }
    .error{
      text-align: center;
      padding-top: 200px;
    }

  p{
    font-size: large;
    font-weight: bold;
  }
</style>
</head>
<body>
  <div class="error">
    <p>Извините, у нас возникли технические неполадки и сайт временно недоступен.</p> 
    <p>Мы уже работаемм над решением проблемы. Зайдите, пожалуйста позже. Спасибо!</p>
  </div>
</body>
</html>