{% extends "base.html" %}

{% block title %} Расписание занятий языковых курсов {% endblock %}

{% block content %}

        <h2>Расписание занятий на текущую неделю</h2>
        <div class="alert alert-info">
          Расписание действует с <strong>{{ start_week }}</strong> до <strong>{{ end_week }}</strong></div>
        <br>
        <h3>Понедельник</h3>
        {% include "day_schedule.html" with schedule_day=schedule_mon %}

        <h3>Вторник</h3>
        {% include "day_schedule.html" with schedule_day=schedule_tue %}

        <h3>Среда</h3>
        {% include "day_schedule.html" with schedule_day=schedule_wed %}

        <h3>Четверг</h3>
        {% include "day_schedule.html" with schedule_day=schedule_thu %}

        <h3>Пятница</h3>
        {% include "day_schedule.html" with schedule_day=schedule_fri %}

        <h3>Суббота</h3>
        {% include "day_schedule.html" with schedule_day=schedule_sat %}

        <h3>Воскресенье</h3>
        {% include "day_schedule.html" with schedule_day=schedule_sun %}

{% endblock %}